.postContainer {
    width: 614px;
    margin-top: 50px;
    margin-bottom: 70px;
    background-color: white;
}

/* HEADER */

.postHeader {
    width: 580px;
    height: 26px;
    display: flex;
    border: 1px solid #efefef;
    border-radius: 4px 4px 0px 0px;
    background-color: white;
    padding: 16px;
}

.headerUserThumbnail {
    margin-left: 10px;
    cursor: pointer;
}

.headerUserName {
    margin-left: 10px;
    color: #262626;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    padding-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
}

/* POSTIMAGE */

.postImage {
    border-radius: 0px 0px 4px 4px;
    background-color: white;
    width: 614px;
    padding: -1px;
}

/* POSTFOOTER */

.postFooter {
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    background-color: white;
    width: 614px;
}

/* ACTIONS */

.postActions {
    display: flex;
    width: 614px;
    padding-top: 10px;
}

.actions {
    display: flex;
}

.heartPost {
    margin-left: 16px;
}

.commentPost {
    margin-left: 20px;
}

.sendPost {
    margin-left: 20px;
}

.saveAction {
    margin-left: 444px;
}

/* LIKES */

.likes {
    margin-left: 16px;
    margin-top: 10px;
    font-weight: 600;
    color: #262626;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* ADD A COMMENT */

.addComment {
    margin-left: 16px;
    margin-right: 16px;
    height: 56px;
    border-top: 1px solid #efefef;
}

.addComment input {
    width: 556px;
    margin-top: 16px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: 0 0;
    border: 0;
    font-size: inherit;
    height: 16px;

    max-height: 80px;
    outline: 0;
    padding: 0;
    resize: none;
    font-weight: 300;
}

.addComment input::placeholder {
    color: rgb(170, 170, 170);
}