.loginContainer {
    background-color: #fafafa;
}
.loginContentContainer {
    height: 100vw;
    width: 935px;
    margin: 0 auto;
}

.login {
    width: 350px;
    height: 400px;
    background-color: white;
    border: 1px solid #e6e6e6;
}

.loginInstagram {
    margin-left: 100px;
}

.loginForm {
    margin-left: 50px;
}

.loginInput {
    width: 240px;
}

.loginButton {
    margin: 0 auto;
    width: 200px;
    background-color: lightblue;
}